@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
    font-family: 'Martel';
    src: local('Martel'),
        url('/fonts/martel.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.font-martel {
    font-family: 'Martel', sans-serif;
}

/* Add some texture to backgrounds */
.bg-texture {
    background-image: url('data:image/svg+xml,%3Csvg width="6" height="6" viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.2" fill-rule="evenodd"%3E%3Cpath d="M5 0h1L0 6V5zM6 5v1H5z"/%3E%3C/g%3E%3C/svg%3E');
}

.title-shadow {
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

[x-cloak] {
    display: none !important;
}